# Compiled class files
*.class
target/
bin/

# Log files
*.log

# Build artifacts
*.jar
*.war
*.ear

# IDE files
*.iml
.idea/
*.vscode/
*.project
*.classpath
*.settings/

# Maven dependencies
.m2/

# Gradle
.gradle/
build/

# OS-specific files
.DS_Store
Thumbs.db
